
.cc-page {

    .fw-img {
        width: 100%;
    }
}

.sostegno-img {
    background: url(../images/cc/sostegno.jpg) top center no-repeat;
    background-size: cover;
    @include responsive-size('padding-top', 35);
    @include responsive-size('padding-bottom', 35);
    @include responsive-size('margin-top', -($margin-section));

    @include media-breakpoint-down(md){
        margin-top: -100px;
    }
}

// .ovali-img {
//     position: absolute;
//     bottom: 20px;
//     @include center(x);
// }

.muba-img {
    @include responsive-size('width', 916);
}
