
.chart-animation {
    position: relative;
    @include responsive-size("width", 820 );
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(md) {
        width: 100%;
    }

    figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        // width: 100%;
        height: 100%;
        overflow: hidden;
        transition: width .5s ease-in;

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        img {
            @include responsive-size("width", 820 );
            max-width: 1000%;

            @include media-breakpoint-down(md) {
                width: 100%;
                max-width: 100%;
            }

            &.tl-chart--circle {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    &.aos-animate {
        figcaption {
            width: 100%;
        }
        &.vertical-animation {
            figcaption {
                height: 100%;
            }
        }
    }

    // &.vertical-animation {
    //     figcaption {
    //         top: auto;
    //         bottom: 0;
    //         width: 100%;
    //         height: 0;
    //         // height: 100%;
    //         transition: height .5s ease-in;

    //         @include media-breakpoint-down(md) {
    //             height: 100%;
    //         }

    //         // img {
    //         //     @include responsive-size("width", 820 );
    //         //     max-width: 1000%;

    //         //     @include media-breakpoint-down(md) {
    //         //         height: 100%;
    //         //         max-width: 100%;
    //         //     }

    //         //     &.tl-chart--circle {
    //         //         position: absolute;
    //         //         top: 0;
    //         //         left: 0;
    //         //     }
    //         // }
    //     }
    // }
}

@supports (-ms-ime-align:auto) {
    .chart-animation figcaption {
        width: 100%;
    }
}

.chart-brands:after {
    content: "";
    position: absolute;
    @include responsive-size("bottom", 50 );
    @include center(x);
    @include responsive-size("height", 43 );
    width: 80%;
    margin-left: 2%;
    background: url(../images/ft/chart-loghi.jpg) center no-repeat;
    background-size: contain;

    @include media-breakpoint-down(md){
        height: 36px;
        bottom: 40px;
    }

    @include media-breakpoint-down(sm){
        height: 18px;
        bottom: 20px;
    }
}
