
.footer-menu {
    max-width: 92%;
    margin: 150px auto;

    li {
        text-align: center;
        padding: 0 1%;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            flex: 1 1;
        }

        &:nth-child(6) {
            flex-basis: 8%;
        }

        &:nth-child(2) a:after {
            border-color: #d9c086;
        }
        &:nth-child(3) a:after {
            border-color: #b4cc6f;
        }
        &:nth-child(4) a:after {
            border-color: #82c3e3;
        }
        &:nth-child(5) a:after {
            border-color: #ac9ead;
        }
        &:nth-child(6) a:after {
            border-color: #f6cb37;
        }

        &:nth-child(7) a:after,
        &:nth-child(8) a:after {
            border-color: map-get($theme-colors, secondary);
        }
    }


    a {
        color: map-get($theme-colors, secondary);
        display: block;
        padding-bottom: 20px;
        position: relative;
        text-transform: uppercase;

        &:after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            border-bottom: 5px solid map-get($theme-colors, primary);
            transition: bottom 0.2s ease-out;
        }

        &:hover {
            text-decoration: none;
            &:after {
                bottom: 10px;
            }
        }
    }
}

.copyright {
    text-align: center;
    margin-bottom: 150px;
}

.sn-links {
    list-style: none;
}
