
.ft-page {
    #levissima {
        background: url(../images/ft/montagne.jpg) top center no-repeat;
        background-size: contain;

        @include media-breakpoint-down(sm){
            background: none;
        }
    }
}

#community-carousel {
    &.carousel,
    .carousel-inner,
    .carousel-item  {
        overflow: visible;
    }

    .carousel-item  {
        @include responsive-size("height", 400 );

        @include media-breakpoint-down(md){
            height: 300px;
            padding: 0 4%;
        }

        @include media-breakpoint-down(sm){
            padding: 0 10%;

            &:last-child {
                padding-top: 20%;
            }
        }

    }

}

.community-table {
    position: relative;
    z-index: 2;

    figcaption {
        @include responsive-size("width", 600 );
        @include responsive-size("height", 400 );
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        z-index: 2;

        @include media-breakpoint-down(md){
            width: 65%;
            height: 300px;
            //margin-left: 5%;
        }

        @include media-breakpoint-down(sm){
            width: 100%;
        }
    }

}

.community-list {
    width: 100%;
    padding: 0;
    margin: 0;

    li {
        border: 2px dotted $fonti;
        border-width: 0 2px 2px 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        span {
            display: inline-block;
            &:first-child {
                @include responsive-size("font-size", 17 );
                width: 40%;
                padding: .5em 1em;

                @include media-breakpoint-down(md){
                    font-size: 14px;
                }

                @include media-breakpoint-down(sm){
                    font-size: 12px;
                    width: 50%;
                }
            }
            &:last-child:not(:first-child) {
                @include responsive-size("font-size", 14 );
                width: 60%;
                padding: .5em;
                border-left: 2px dotted $fonti;

                @include media-breakpoint-down(md){
                    font-size: 12px;
                }

                @include media-breakpoint-down(sm){
                    font-size: 10px;
                    width: 50%;
                }
            }
        }

        &:first-child {
            font-weight: $font-normal;
            line-height: 2.5em;
            position: relative;
            z-index: 2;
            border: 0;

            span {
                border: 2px dotted $fonti;
                &:first-child {
                    @include responsive-size("font-size", 18 );
                    color: $fonti;
                    border-top-left-radius: 2em;
                    border-bottom-left-radius: 2em;
                    border-width: 2px 0 2px 2px;

                    @include media-breakpoint-down(md){
                        font-size: 12px;
                    }

                    @include media-breakpoint-down(sm){
                        font-size: 9px;
                    }
                }
                &:last-child() {
                    @include responsive-size("font-size", 18 );
                    color: white;
                    background-color: #4e5594;
                    //border-width: 2px 2px 2px 0;
                    border-top-right-radius: 2em;
                    border-bottom-right-radius: 2em;

                    @include media-breakpoint-down(md){
                        font-size: 12px;
                    }

                    @include media-breakpoint-down(sm){
                        font-size: 9px;
                    }
                }
            }

            &:hover {
                background: none;
                cursor: default;
            }
        }

        &:last-child {
            border-bottom-right-radius: 2em;
            border-bottom-left-radius: 2em;
        }


        &:nth-child(2) {
            margin-top: -30px;
            padding-top: 30px;
            position: relative;
            z-index: 1;
            text-align: left;

            span {
                width: 100%;
                @include responsive-size("font-size", 14 );

                @include media-breakpoint-down(sm){
                    font-size: 12px;
                }

                strong {
                    @include responsive-size("font-size", 18 );
                    color: $fonti;
                    display: block;
                    font-weight: $font-normal;

                    @include media-breakpoint-down(md){
                        font-size: 15px;
                    }

                    @include media-breakpoint-down(sm){
                        font-size: 12px;
                    }
                }
            }

            &:hover {
                background: none;
                cursor: default;
            }
        }

        &:hover,
        &.active {
            background-color: #d4c9ac;
            cursor: pointer;
        }
    }

    hr {
        border-top: 2px dotted $fonti;
    }
}

.comm-italy {
    @include responsive-size("width", 370 );
    @include responsive-size("height", 400 );
    position: absolute;
    top: 0;
    right: -15%;
    z-index: 1;

    @include media-breakpoint-down(md){
        width: 280px;
        height: 350px;
        right: -14px;;
    }

    @include media-breakpoint-down(sm){
        display: none;
    }

}

.community-cities {
    @include responsive-size("width", 370 );
    @include responsive-size("height", 400 );
    position: absolute;
    top: 0;
    right: -15%;
    z-index: 2;

    @include media-breakpoint-down(md){
        right: -17%;
    }

    @include media-breakpoint-down(sm){
        display: none;
    }

    > img {
        @include responsive-size("width", 90 );
        @include responsive-size("height", 50 );
        position: absolute;
        transform: scale(0.2);
        transition: all .3s ease-in-out;
        cursor: pointer;
        opacity: 0;

        &:hover,
        &.active {
            opacity: 1;
            transform: scale(1);
        }
    }

    .castrocielo {
        top: 46%;
        left: 46%;

        &:hover,
        &.active {
            top: 40%;
        }

        @include media-breakpoint-down(md){
            top: 33%;
            left: 31%;
        }
    }

    .sangiorgioinbosco {
        top: 12%;
        right: 43%;

        &:hover,
        &.active {
            top: 6%;
        }

        @include media-breakpoint-down(md){
            top: 7%;
            right: 56%;
        }
    }

    .sanpellegrinoterme {
        top: 8%;
        right: 59%;

        &:hover,
        &.active {
            top: 2%;
        }

        @include media-breakpoint-down(md){
            top: 4%;
            right: 67%;
        }
    }

    .scarperia {
        top: 35%;
        left: 28%;

        &:hover,
        &.active {
            top: 29%;
        }

        @include media-breakpoint-down(md){
            top: 25%;
            left: 17%;
        }
    }

    .sstefano {
        bottom: 4%;
        left: 48%;

        &:hover,
        &.active {
            bottom: 10%;
        }

        @include media-breakpoint-down(md){
            bottom: 26%;
            left: 32%;
        }
    }

    .valdisotto {
        top: 4%;
        right: 58%;

        &:hover,
        &.active {
            top: -2%;
        }

        @include media-breakpoint-down(md){
            top: 1%;
            right: 66%;
        }
    }
}

.partnership-img {
    @include responsive-size("width", 430 );
    @include responsive-size("margin-bottom", $margin-double );
}

// .video-levissima {
//     @include responsive-size("margin-bottom", $margin-double );
// }

#trattore {
    @include responsive-size("width", 511 );
    position: relative;
    margin: 0 auto;

    .trattore {
        @include responsive-size("width", 110 );
        @include responsive-size("height", 94 );
        background: url(../images/ft/trattore.svg) center no-repeat;
        background-size: contain;
        position: absolute;
        top: 10%;
        left: 1%;

        @include media-breakpoint-down(sm){
            width: 90px;
            height: 64px;
            top: 5%;
        }
    }
}
