
.ad-msg--img {
    position: relative;
    @include clearfix();
    overflow: visible !important;

    img {
        @include responsive-size("width", 333 );
        position: absolute;
        top: 5%;
        left: 6%;
        z-index: 10;

        @include media-breakpoint-down(md) {
            left: 0;
        }

        @include media-breakpoint-down(sm) {
            width: 40vw;
            top: 0;
            left: -6%;
        }
    }

}
.ad-msg--quote {
    @include responsive-size("width", 470 );
    @include responsive-size("height", 470 );
    @include responsive-size("font-size", 25 );
    font-weight: $font-light;
    float: right;

    @include media-breakpoint-down(sm) {
        width: 70vw;
        height: 70vw;
        max-width: 470px;
        max-height: 470px;
        font-size: 12px;
    }

    p:before,
    p:after {
        content: '"';
        display: block;
        text-align: center;
        line-height: 1;
        color: map-get($theme-colors, primary);
        @include responsive-size("font-size", 64 );
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    p:before {
        transform: translate(-50%, -36%);
    }

    strong {
        display: block;
        text-transform: uppercase;
        color: map-get($theme-colors, primary);
    }
}

.ad-msg--name {
    @include responsive-size("width", 210 );
    @include responsive-size("height", 210 );
    position: absolute;
    bottom: -10%;
    left: 26%;
    z-index: 11;

    @include media-breakpoint-down(md) {
        left: 10%;
    }

    @include media-breakpoint-down(sm) {
        width: 35vw;
        height: 35vw;
        left: -3%;
        bottom: -10%;
        font-size: 10px;
    }

    small {
        display: block;
        @include responsive-size("font-size", 14 );
        font-weight: $font-light;

        @include media-breakpoint-down(sm) {
            font-size: 10px;
        }
    }
}

.bg-map {
    background: url(../images/home/mappa.svg) no-repeat;
    background-size: 100% auto;
    background-position: 30px -90px;
    padding-top: 100px;

    @include media-breakpoint-down(md) {
        background: none;
        padding-top: 0;
    }
}

#about {
    margin-top: 0;
}

.about--revenue {
    @include do-circle(304, #4e5594);
    @include responsive-size("font-size", 26 );
    font-weight: $font-light;

    strong {
        display: block;
        font-weight: $font-light;
        @include responsive-size("font-size", 52 );
    }
}

.about--year {
    //@include do-circle(200);
    @include responsive-size("font-size", 52 );
    font-weight: $font-light;
}

.team-brands--group {
    border: 2px dotted map-get($theme-colors, secondary);
    border-width: 2px 0;
    padding: 18px;
    @include responsive-size("font-size", 15 );
    text-align: left;
    @include responsive-size("margin-top", $margin-double );

    p {
        padding: 0 10%;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }

    span {
        @include responsive-size("font-size", 26 );
        display: block;
    }
}

.team-brands--ad {
    @include responsive-size("font-size", 13 );
    border-right: 1px solid map-get($theme-colors, primary);
    @include responsive-size("margin-top", -132 );

    @include media-breakpoint-down(sm) {
        margin-top: -314px;
    }

    figure, p {
        margin: 0;
    }

    img {
        @include responsive-size("width", 141 );
        height: auto;
        @include responsive-size("margin-bottom", 45.2 );
        @include responsive-size("margin-top", -34 );

        @include media-breakpoint-down(sm) {
            margin-bottom: 25.2px;
            margin-top: -54px;
        }
    }

    span {
        @include responsive-size("font-size", 15 );
        display: block;
    }
}

.team-brands--team {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    text-align: left;
    @include responsive-size("margin-top", $margin-double );
    width: 100%;

    @include media-breakpoint-down(md) {
        margin-top: 100px;
    }

    img {
        @include responsive-size("width", 90 );
        height: auto;
        float: left;
        margin-right: 7px;
    }

    li {
        flex-basis: 33.333%;
        @include responsive-size("font-size", 11 );
        padding-right: 7%;
        @include responsive-size("margin-bottom", $margin-normal );

        @include media-breakpoint-down(md) {
            flex-basis: 33%;
            justify-content: space-between;
            padding-right: 0;
        }

        &:nth-child(3n+1){
            transform: translatey(50%);
        }

        &:nth-child(3n){
            transform: translatey(-50%);
        }
    }

    strong {
        @include responsive-size("font-size", 13 );
        margin-bottom: 0;
        @include responsive-size("margin-top", 5 );
        padding-right: 4%;
        display: block;
    }
}

// Bug on IE 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .team-brands--team li {
        flex-basis: 26.333%;
    }
}

#share-revenues.section {
    > h2:first-child {
        margin-bottom: 0;

        &:after {
            content: none;
        }
    }
}

.share-revenues--img {
    @include responsive-size("width", 733 );

    @include media-breakpoint-down(md) {
        width: 95%;
    }
}

#employees {
    img {
        @include responsive-size("margin-bottom", $margin-normal );
    }
}

.leadership {
    position: relative;

    figcaption > div {
        position: absolute;
        @include responsive-size("width", 300 );
        @include responsive-size("height", 450 );
        background-size: contain;
        transition: transform .5s ease-in-out;

        @include media-breakpoint-down(md) {
            width: 230px;
            height: 305px;
        }

        @include media-breakpoint-down(sm) {
            width: 120px;
            height: 165px;
        }
    }

    .leadership-donna {
        background: url(../images/home/leadership-donna.svg) center no-repeat;
        @include responsive-size("right", 172 );
        bottom: 11%;
        transform: rotate(-15deg);

        @include media-breakpoint-down(md) {
            right: 162px;
            bottom: 22%;
        }

        @include media-breakpoint-down(sm) {
            right: 82px;
            bottom: 22%;
        }
    }

    .leadership-uomo {
        background: url(../images/home/leadership-uomo.svg) center no-repeat;
        @include responsive-size("right", -20 );
        bottom: 9%;
        transform: rotate(15deg);

        @include media-breakpoint-down(md) {
            right: 0px;
            bottom: 21%;
        }

        @include media-breakpoint-down(sm) {
            right: 0px;
            bottom: 21%;
        }
    }

    &.aos-animate {
        .leadership-donna,
        .leadership-uomo {
            transform: rotate(0);
        }
    }
}

.safetyy--chart {
    position: relative;

    figcaption {
        position: absolute;
        top: 12%;
        left: 9%;
        overflow: hidden;
        width: 0;
        transition: width .7s ease-out;

        @include media-breakpoint-down(md) {
            width: 77%;
        }

        svg {
            @include responsive-size("width", 608 );

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        svg:first-child path {
            fill: #5565FB;
        }
        svg:last-child path {
            fill: #4E5594;
        }
    }

    &.aos-animate {
        figcaption {
            width: 77%;
        }
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .safetyy--chart figcaption {
        width: 77%;
    }
}

#boosting-program {
    img {
        @include responsive-size("margin-top", $margin-double );
        @include responsive-size("margin-bottom", $margin-double );
    }
}

.hfarm {
    position: relative;
    transform: rotate(7deg);
}

.hfarm-trattore {
    @include responsive-size("width", 180 );
    @include responsive-size("height", 100 );
    background: url(../images/home/hfarm-trattore.svg);
    position: absolute;
    top: 21%;
    left: 0;

    @include media-breakpoint-down(md) {
        width: 22vw;
        height: 12vw;
    }

    @include media-breakpoint-down(sm) {
        width: 32vw;
        height: 17vw;
    }
}

.un-tasks {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &--icons {
        list-style: none;
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 1.5em 0;
        padding: 0;

        @include media-breakpoint-down(md) {
            display: none;
        }

        li {
            flex-basis: 15%;
            margin-bottom: 2%;
            cursor: pointer;
        }
    }

    &--box {
        width: 24%;
        flex-basis: 24%;
        @include responsive-size("height", 56 );
        background-color: map-get($theme-colors, secondary);
        margin-bottom: 1.2%;
        border-radius: 10px;
        display: table;
        opacity: .2;

        @include media-breakpoint-down(md) {
            display: none;
        }

        &.box-red {
            background-color: map-get($theme-colors, primary);
        }

        &.active {
            opacity: 1;
        }

        p {
            display: table-cell;
            vertical-align: middle;
            @include responsive-size("font-size", 12.5 );
            color: white;
            text-transform: uppercase;
            letter-spacing: 0;
        }
    }
}
