
icon {
    display: inline-block;
    background: center no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.icon-star {
    background-image: url(../images/star.svg);
}

.icon-star-blu {
    background-image: url(../images/star-blu.svg);
}

.icon-social {
    display: inline-block;
    @include responsive-size("margin-right", 12 );

    svg path {
        fill: map-get($theme-colors, primary);
    }

    &:hover {
        svg path {
            fill: map-get($theme-colors, secondary);
        }
    }


    &.facebook {
        @include responsive-size("width", 8 );
        @include responsive-size("height", 14 );
    }

    &.linkedin {
        @include responsive-size("width", 12 );
        @include responsive-size("height", 11 );
    }

    &.youtube {
        @include responsive-size("width", 16 );
        @include responsive-size("height", 12 );
    }
}
