
img {
    max-width: 100%;
}

.video {
    width: 100%;
    @include responsive-size("max-width", 582 );
    @include responsive-size("margin-top", $margin-normal );
    // @include responsive-size("margin-bottom", $margin-section );
}

.fw-img {
    width: 100%;
}
