
body {
    @include responsive-size("padding-top", $margin-double );
    overflow-x: hidden;
}

.section {
    @include responsive-size("margin-top", $margin-section );
    @include responsive-size("margin-bottom", $margin-section );
    position: relative;

    @include media-breakpoint-down(md) {
        margin: 100px auto;
    }

    h5,
    p {
        @include responsive-size("max-width", $section-title-border-width );
        margin: 0 auto;
        @include responsive-size("margin-bottom", $margin-normal );
    }
}

.dashed-box {
    border: 3px dotted;
    border-radius: 40px;
    padding: 2em 7em;
    @include responsive-size("margin-bottom", $margin-normal );

    p {
        margin-bottom: 0;
    }

    strong {
        @include responsive-size("font-size", 40 );
        display: block;
    }

    .rrrr-page & {
        border-color: $riciclo;
    }
}

#wheel-model {
    background: url(../images/bg_model.jpg) top center no-repeat;
    background-size: contain;
    @include responsive-size("height", 586 );

    .p-fold {
        @include responsive-size("height", 53 );
        position: relative;
        overflow: hidden;

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            @include responsive-size("height", 8 );
            background: rgb(246,243,232);
            background: linear-gradient(180deg, rgba(246,243,232,0.4) 0%, rgba(246,243,232,0.5) 100%);
            z-index: 1;
        }
    }

    .div-toggler {
        border: solid map-get($theme-colors, primary);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
    }
}

#page-title {
    margin-top: 0;
    @include responsive-size("padding-top", 272 );
    background-repeat: no-repeat;
    background-size: 1100px auto;
    background-position: -20% 0;
}
