
.rrrr-page {
    #page-title {
        background-image: url(../images/rrrr/titolo.svg);
    }
}

.euplastic {
    @include responsive-size('width', 460);
}

.bottiglia-vera {
    @include responsive-size('width', 112);
    position: absolute;
    bottom: 0;
    @include center(x);
    @include responsive-size('margin-left', 30);

    @include media-breakpoint-down(md){
        margin-left: -30px;
    }
    @include media-breakpoint-down(sm){
        width: 42px;
        margin-left: -10px;
    }
}

.bottiglia-lev {
    @include responsive-size('width', 136);
    position: absolute;
    bottom: 0;
    @include center(x);
    @include responsive-size('margin-left', 30);

    @include media-breakpoint-down(md){
        margin-left: -30px;
    }
    @include media-breakpoint-down(sm){
        width: 42px;
        margin-left: -10px;
    }
}
