
.nav-tabs {
    border: 0;

    .nav-item {
        width: 50%;
    }

    .nav-link {
        @extend h2;
        border: 0;
        padding: 0;

        &:before,
        &:after {
            width: 100%;
        }

        &.active {
            color: map-get($theme-colors, primary);

            &:before,
            &:after {
                background-color: map-get($theme-colors, primary);
            }
        }

    }
}
