
#bolliblu {
    position: relative;

    .st0{fill:#72C2E1;}
    //.st1{display:none;}
    .st2{display:inline;fill:#FFFFFF;}

    .rotaia {
        position: absolute;
        bottom: 15px;
        @include responsive-size("width", 48);
        @include responsive-size("height", 48);
        background: url(../images/tl/rotaia.svg) center no-repeat;
        background-size: contain;
        // animation: engine1animation 6s linear;
        // animation-iteration-count: infinite;
        //animation-delay: 1.5s;

        @include media-breakpoint-down(md){
            bottom: 11px;
        }

        @include media-breakpoint-down(sm){
            bottom: 7px;
            width: 5vw;
            height: 5vw;
        }

        @include media-breakpoint-up(xl){
            bottom: 30px;
        }

        &:first-child {
            left: 25%;

            @include media-breakpoint-down(md){
                left: 24%;
            }

            @include media-breakpoint-up(xl){
                left: 24%;
            }
        }
        &:nth-child(2) {
            left: 47%;
        }
        &:last-child {
            left: 68%;

            @include media-breakpoint-up(xl){
                left: 70%;
            }
        }
    }
}

// @keyframes engine1animation {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }

#trainonscroll {
    position: relative;
    @include responsive-size("margin-bottom", $margin-double );

    > img {
        position: relative;
        z-index: 2;
    }
}

.video-on-scroll {
    @include responsive-size("width", 315 );
    @include responsive-size("height", 315 );
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 5%;
    right: 6%;
    z-index: 1;

    @include media-breakpoint-down(sm) {
        width: 155px;
        height: 155px;
        top: 0;
    }

    video {
        margin-left: -40%;
        width: 180%;
    }
}

.truck-img {
    @include responsive-size('width', 510);
    @include responsive-size('margin-bottom', $margin-normal);
}

.treno {
    display: block;
    @include responsive-size('width', 514);
    @include responsive-size('margin-bottom', $margin-normal);
    margin-left: auto;
    margin-right: auto;
}

.risultati-img {
    @include responsive-size('width', 710);
}

.compraverde {
    @include responsive-size('width', 200);
    @include responsive-size('margin-bottom', $margin-normal);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sedex {
    @include responsive-size('width', 895);
}
