
#bolliblu {
    position: relative;

    .st0{fill:#72C2E1;}
    //.st1{display:none;}
    .st2{display:inline;fill:#FFFFFF;}

    .rotaia {
        position: absolute;
        bottom: 15px;
        @include responsive-size("width", 48);
        @include responsive-size("height", 48);
        background: url(../images/tl/rotaia.svg) center no-repeat;
        background-size: contain;
        // animation: engine1animation 6s linear;
        // animation-iteration-count: infinite;
        //animation-delay: 1.5s;

        @include media-breakpoint-down(sm){
            bottom: 7px;
            width: 5vw;
            height: 5vw;
        }

        &:first-child {
            left: 25%;
        }
        &:nth-child(2) {
            left: 47%;
        }
        &:last-child {
            left: 68%;
        }
    }
}

// @keyframes engine1animation {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }

.truck-img {
    @include responsive-size('width', 510);
    @include responsive-size('margin-bottom', $margin-normal);
}

.treno {
    display: block;
    @include responsive-size('width', 514);
    @include responsive-size('margin-bottom', $margin-normal);
    margin-left: auto;
    margin-right: auto;
}

.risultati-img {
    @include responsive-size('width', 710);
}

.compraverde {
    @include responsive-size('width', 200);
    @include responsive-size('margin-bottom', $margin-normal);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sedex {
    @include responsive-size('width', 895);
}
