
// Your variable overrides
@include font-face(Museo, "../fonts/museo300regular", 300, 'normal');
@include font-face(Museo, "../fonts/museo500regular", 500, 'normal');
@include font-face(Museo, "../fonts/museo700regular", 700, 'normal');

body {
    font-family: $font;
    font-weight: $font-normal;
    @include responsive-size("font-size", $font-size-lg );
    line-height: 1.4;
    text-align: center;
    color: map-get($theme-colors, secondary);
}

strong {
    font-weight: $font-bold;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: $font-light;

    .ft-page & {
            color: $fonti;
    }
    .pi-page & {
            color: $produzione;
    }
    .tl-page & {
            color: $logistica;
        }
    .cc-page & {
            color: $consumo;
    }
    .rrrr-page & {
            color: $riciclo;
    }
}

h1 {
    @include responsive-size("font-size", 52 );
    letter-spacing: 4px;
    margin-bottom: 1em;

    .icon-star {
        @include responsive-size("width", 54 );
        @include responsive-size("height", 54 );
        margin: 0 7px;
        transform: translateY(-18%);
    }
}

h2 {
    @include responsive-size("font-size", 34 );
    letter-spacing: 4px;
}

h3,
h4 {
    @include responsive-size("font-size", 26 );
    letter-spacing: 2.5px;
}

h3 {
    &:not(:first-child) {
        line-height: 1em;
        text-transform: uppercase;
        font-weight: $font-light;
        padding: 2em 0;
        position: relative;

        &:before {
            content: "";
            display: block;
            @include responsive-size("width", 240 );
            @include responsive-size("height", 7 );
            position: absolute;
            top: 0;
            left: 50%;
            transform: translatex(-50%);

            .ft-page & {
                background-color: $fonti;
                .sec-color#{&} {
                    background-color: $fonti-secondary;
                }
            }
            .pi-page & {
                background-color: $produzione;
            }
            .tl-page & {
                background-color: $logistica;
            }
            .cc-page & {
                background-color: $consumo;
            }
            .rrrr-page & {
                background-color: $riciclo;
            }
        }

        .ft-page &.sec-color:before {
            background-color: $fonti-secondary;
        }
    }
}

h5 {
    @include responsive-size("font-size", 22 );
    color: map-get($theme-colors, primary);
}

.section {

    &:not(#page-title) > h2:first-child,
    &:not(#page-title) > h3:first-child,
    .nav-link {
        @include responsive-size("line-height", 34 );
        @include responsive-size("margin-bottom", $margin-normal );
        @include responsive-size("padding-top", 24 );
        @include responsive-size("padding-bottom", 24 );
        position: relative;

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            @include responsive-size("width", $section-title-border-width );
            @include responsive-size("height", 1 );
            background-color: map-get($theme-colors, secondary);
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

        .ft-page & {
            &:before,
            &:after {
                background-color: $fonti;
            }
        }

        .pi-page & {
            &:before,
            &:after {
                background-color: $produzione;
            }
        }

        .tl-page & {
            &:before,
            &:after {
                background-color: $logistica;
            }
        }

        .cc-page & {
            &:before,
            &:after {
                background-color: $consumo;
            }
        }

        .rrrr-page & {
            &:before,
            &:after {
                background-color: $riciclo;
            }
        }

        span {
            color: $grey-text;
        }

        .icon-star-blu {
            @include responsive-size("width", 38 );
            @include responsive-size("height", 38 );
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -60%);
            background-color: $body-bg;
        }
    }

    p {
        strong {
            font-weight: $font-normal;
            color: map-get($theme-colors, primary);
        }

        &.bigger {
            @include responsive-size("font-size", 23 );
            color: map-get($theme-colors, secondary);
        }

        .ft-page & {
            strong,
            &.bigger {
                color: $fonti;
            }
            &.sec-color {
                color: $fonti-secondary;
            }
        }
        .pi-page & {
            strong,
            &.bigger {
                color: $produzione;
            }
        }
        .tl-page & {
            strong,
            &.bigger {
                color: $logistica;
            }
        }
        .cc-page & {
            strong,
            &.bigger {
                color: $consumo;
            }
        }
        .rrrr-page & {
            strong,
            &.bigger {
                color: $riciclo;
            }
        }
    }

}
