
// Your variable overrides
$body-bg: #f6f3e8;

// font

// COLORS
$theme-colors: (
    primary: #F3352F,
    secondary: #00295a
);

$fonti: #a18b52;
$fonti-secondary: #295942;

$produzione: #79901a;
$logistica: #62acd0;
$consumo: #ac9ead;
$riciclo: #ceb112;

$grey-text: #7d7d7d;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1812px
);

// container sizes
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 820px,
  xl: 1640px
);

// fonts
$font: Museo;
$font-normal: 500;
$font-light: 300;
$font-bold: 700;
$font-size-lg: 18;
$line-height: 1.4;

// margins
$margin-normal: $font-size-lg * $line-height;
$margin-double: $margin-normal * 2;
$margin-section: $margin-normal * 6;

// section elements
$section-title-border-width: 726;
